@charset "UTF-8";
/*#f2b0bc*/
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html { scroll-behavior: smooth; }
body{
    background: whitesmoke;
}
header{
    padding: 5px 10px 5px 10px;
    background-image: linear-gradient(to bottom, rgb(242, 176, 188), #FFBAC7);
    position: fixed;
    width: 100%;
    top: 0px;
}
.menu{
    padding: 8px;
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
}
.menu div{
    display: flex;
}
.menu div img{
    margin-right: 15px;
}
.menuDesktop{
    display: flex;
    list-style: none;
}
.menuDesktop  li a{
    text-decoration: none;
    color: rgb(59, 56, 56);
    padding: 10px;
    margin: 0 10px 0 10px;
    font-weight: 600;
}
.menuDesktop  li a:hover{
    color: rgb(255, 255, 255);
    transition: .3s ease-in-out;
}
.header{
    margin-top: 48px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #FFBAC7 5%, whitesmoke 90% );
}
.container{
    padding: 20px;
    
}
.row{
    display: flex;
    margin: 50px 60px 50px 60px;
}
.item{
    width: 50%;
    margin: 10px;
    padding: 50px 10px 50px 10px;
}
.text-container h1{
    font-size: 50px;
    margin: 50px;
}
.text-container h2{
    font-size: 40px;
    margin: 50px;
}
.text-container p{
    font-size: 13pt;
    margin: 50px; 
    color: rgb(97, 93, 93);
}
.image-container{
    padding: 10px;
    margin: 0 auto;
    width: 400px;
}
.image-container img{
    width: 100%;
}
/*introduction*/
.col{
    padding: 20px;
    margin: 10px;
    font-size: 28px;
    text-align: center;
    font-weight: 200;
}
.col-1{
    width: 40%;
}
.col-2{
    width: 60%;
}
/*cards*/
.card-1{
    padding: 30px 0 30px 0;
    text-align: center;
    
}
.card-1 .row{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.card{
    background-color: rgba(112, 162, 218, 0.164);
    width: 96%;
    height: 96%;
    margin: 10px;
    border-radius: 20px;
    margin: 0 auto;
}
.card-image{
    width: 100px;
    margin: 0 auto;
    padding: 10px;
}
.card-image img{
    width: 100%;
}

.card-body{
    padding: 20px;
}
.card-body h5{
    font-size: 25px;
    font-weight: 700;
}
.card-body p{
    color: rgb(97, 93, 93);
    padding: 10px;
    margin: 0 auto;
    width: 80%;
}
.space{
    padding: 50px;
}
.topico .content{
    text-align: center;
    font-size: 26px;
}

.contato{
    width: 100%;
    text-align: center;
}

.background{
    width: 100%;
}

.cta{
    margin: 20px;
}
.cta h3{
    font-size: 40px;
}
.cta p{
    font-size: 16pt;
    padding-top: 30px;
}

.button{
    display: grid;
    margin: 40px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-self: center;
}
.button a{
    color: black;
    text-decoration: none;
    font-size: 16pt;
    padding: 10px;
    border-radius: 50px;
    background-color: #f7adffd8;
    margin: 10px auto;
    width: 90%;
}
.button div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}
.button p{
   padding: 0;
   font-size: 20pt;
   text-align: center;
   padding: 20px;
}
#logoImg{
    width: 32px;
}
#logoImg img{
    width: 100%;
    border-radius: 60px;
}



/*footer*/
.footer{
    background-image: linear-gradient(to top, #FFBAC7 5%, whitesmoke 90% );
    padding: 30px 30px 50px 30px;
    text-align: center;
}
.footer h4{
    padding: 10px;
    margin: 0 auto;
    font-size: 25px;
    width: 70%;
}
.redes-sociais{
    margin-top: 40px;
    
}
.redes-sociais div{
    display: flex;
    justify-content: center;
}
.redes-sociais div a{
    display: flex;
    background-color: white;
    margin: 10px;
    width: 24px;
    padding: 7px;
    height: 24px;
    border-radius: 50px;
}
.redes-sociais a img{
    width: 100%;
    top: 10px;
    left: 10px;
}

.copyright{
    background-image: linear-gradient(to top, rgb(242, 176, 188), #FFBAC7);
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.informations{
    display: flex;
}
.informations p{
    margin: 5px;
}
.informations a{
    text-decoration: none;
    color: black;
}


.menu-icon{
    display: none;
    width: 30px;
    height: 25px;
}

input{
    display: none;
}
.menuUl{
    display: none;
}
/*Mobile*/
@media (max-width: 1000px){
    .menuDesktop{
        display: none;   
    }
    .row{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .item{
        width: 100%;
        margin-left: 0px;

    }
    .card{
        margin: 10px auto 10px auto;
        width: 600px;
    }
    .card-1 .row{
        grid-template-columns: 1fr;
    }
    .col-1{
        width: 100%;
    }
    .col-2{
        width: 100%;
    }
    .menuUl{
        position: fixed;
        top: 54px;
        background-color: white;
        width: 100%;
        height: 100%;
        left: 0;
        padding-top: 5px;
        transition: .3s ease-in-out;
    }
    .menuUl li a{
        display: block;
        text-decoration: none;
        color: rgb(59, 56, 56);
        padding: 10px;
        margin: 0 10px 0 10px;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 0;
        width: 100%;
    }
    .menuUl li a:hover{
        color: rgb(223, 124, 201);
        transition: .3s ease-in-out;
    }
    .menuH{
        width: 50px;
        height: 50px;
        border-radius: 10px;
        position: fixed;
        top: 0px;
        right: 25px;
        background-color: none;
        cursor: pointer;
        box-shadow: 0 0 0 white;
    }
    .hamburguer{
        position: relative;
        display: block;
        background-color: black;
        width: 30px;
        height: 2px;
        top: 29px;
        left: 15px;
        transition: .3s ease-in-out;
    }
    .hamburguer:before, .hamburguer:after{
        background: black;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .3s ease-in-out;
    }
    .hamburguer:before{
        top: -10px;
    }
    .hamburguer:after{
        bottom: -10px;
    }
    input{
        display: none;
    } 
    input:checked ~ label .hamburguer{
        transform: rotate(45deg);
        
    }
    input:checked ~ label .hamburguer:before{
        transform: rotate(90deg);
        top: 0;
        
    }
    input:checked ~ label .hamburguer:after{
        transform: rotate(90deg);
        bottom: 0;
        
    }
    
    .menu{
        display: fixed;
    }
}
@media (max-width:850px){
    .card{
        margin: 10px auto 10px auto;
        width: 400px;
    }
    .row{
        margin-left: 10px;
    }
    .row{
        margin: 0 auto;
    }
    .image-container{
        width: 90%;
    }
}
@media (max-width:710px){
    .button{
        grid-template-columns: 1fr;
    }
    .button a{
        width: 100%;
    }
}
@media (max-width:500px){
    .card{
        margin: 10px auto 10px auto;
        width: 300px;
    }
    .card-1 .row{
        margin: 0 auto;
    }
    .text-container h2 {
        font-size: 40px;
        margin: 0px;
    }
    .text-container p {
        font-size: 13pt;
        margin: 0px;
        color: rgb(97, 93, 93);
    }
    #email{
        font-size: 12pt;
        text-align: center;
    }
}
@media (max-width: 440px){
    .copyright{
        display: grid;      
        grid-template-columns: 1fr;
        text-align: center;
    }
    .informations{
        display: grid;
        grid-template-rows: repeat(3, 40px);
    }
    .card{
        margin: 10px auto 10px auto;
        width: 100%;
    }
    #email{
        font-size: 12pt;
    }
}
@media (max-width: 360px){
    h4{
        position: relative;
    }
    #email{
        left: -20px;
        bottom: -10px;
        position: absolute;
    }
}